<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="I360_POC.Properties.Settings.scheduleStorageConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Data\scheduleStorage.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConnectAPISoap" />
                <binding name="TrackingAPISoap" />
                <binding name="CompanyAPISoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://209.81.83.141:99/14.2/connect/connect.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConnectAPISoap"
                contract="Login.ConnectAPISoap" name="ConnectAPISoap" />
            <endpoint address="http://209.81.83.141:99/14.2/tracking/tracking.asmx"
                binding="basicHttpBinding" bindingConfiguration="TrackingAPISoap"
                contract="TrackingAPI.TrackingAPISoap" name="TrackingAPISoap" />
            <endpoint address="http://209.81.83.141:99/14.2/company/Company.asmx"
                binding="basicHttpBinding" bindingConfiguration="CompanyAPISoap"
                contract="CompanyAPI.CompanyAPISoap" name="CompanyAPISoap" />
        </client>
    </system.serviceModel>
</configuration>